@page
@model Crud.Pages.Clients.IndexModel
@{
}

<br>
<h2>Lista de Clientes</h2>
<!--Botao pra criar um novo cliente-->
<a class="btn btn-primary btn-sm" href="/Clients/Create">Novo Cliente</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereco</th>
            <th>Criado</th>
            <th>Acao</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.ListClients){
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td>@item.phone</td>
                <td>@item.address</td>
                <td>@item.created_at</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Clients/Edit?id=@item.id">Edit</a>
                    <a class="btn btn-danger btn-sm" href="/Clients/Delete?id=@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>